.report td {
  padding: 0px;
}

.report .progress-container {
  position: relative;
  width: 20px;
  height: 20px;
}

.report .progress {
  position: absolute;
  left: 0px;
  top: 0px;
}

.report .content-row :first-child {
  width: 20px;
}

.theader,
.report .content-row :nth-child(3),
.report .content-row :nth-child(4),
.report .content-row :nth-child(5),
.report .content-row :nth-child(6) {
  width: 30px !important;
  text-align: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.report .children-row > :first-child {
  padding-left: 10px;
}
