.console {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  overflow: auto;
  font-size: 15px;
  padding: 5px;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  border: 0px solid black;
}

.theme-vs-dark {
  background-color: black;
  color: white;
}

.theme-vs-light {
  background-color: white;
  color: black;
}

.console .printed-span {
  margin-left: 1px;
  width: calc(100% - 20px);
  min-height: 1em;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.console .input-span {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 15px;
  min-height: 1em;
  color: white;
  outline: 0px solid transparent;
  border: 0px solid transparent;
  caret-color: transparent;
}

.console .input-span:focus::after {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 15px;
  content: "_";
  animation: blinking 1s steps(1, end) infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
