.console {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: black;
  overflow: auto;
  font-size: 15px;
  padding: 5px;
}

.console pre {
  margin: 1px;
  color: white;
  width: calc(100% - 20px);
  min-height: 1em;
  white-space: pre-wrap;       
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;      
  white-space: -o-pre-wrap;    
  word-wrap: break-word;       
}

.console input {
  width: 95%;
  color: white; 
  background-color: black;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  border-color: black;
  outline: none;
  border: 0px solid black;
  font-size: 15px;
}

.hidden { display:none; }
