.graphicsPane {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: white;
  overflow: auto;
  font-size: 15px;
  padding: 5px;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  border: 0px solid black;
  color: black;
  text-align: center;
}

.graphicsPane canvas {
  background-color:#FAF7F8;
  float:center;
}

.hidden {
  display: none;
}
