html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: left;
}

.h-100,
#root {
  height: 100%;
}

:root {
  --focus-border: #0a9396 !important; /* Customize the focus border color */
  --separator-border: #838383; /* Customize the separator border color */
}
