.res-container {
  width: 100%;
}

.res-container span {
  height: 1em;
  display: inline-block;
}

.res-0 {
  background-color: gainsboro;
}

.res--1 {
  background-color: #aa0000;
}

.res-1 {
  background-color: #00bb00;
}

.res-2 {
  background-color: #00ee00;
}
